@import "tailwindcss";

@font-face {
    font-family: 'General Sans';
    src: url('./assets/fonts/GeneralSans-Extralight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap; /* Add this for better performance */
}

@font-face {
    font-family: 'General Sans';
    src: url('./assets/fonts/GeneralSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; /* Add this for better performance */
}

@font-face {
    font-family: 'General Sans';
    src: url('./assets/fonts/GeneralSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap; /* Add this for better performance */
}

@font-face {
    font-family: 'General Sans';
    src: url('./assets/fonts/GeneralSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap; /* Add this for better performance */
}

@font-face {
    font-family: 'General Sans';
    src: url('./assets/fonts/GeneralSans-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap; /* Add this for better performance */
}

@font-face {
    font-family: 'General Sans';
    src: url('./assets/fonts/GeneralSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap; /* Add this for better performance */
}

/* ------------- Italic -------------*/
@font-face {
    font-family: 'General Sans';
    src: url('./assets/fonts/GeneralSans-ExtralightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap; /* Add this for better performance */
}

@font-face {
    font-family: 'General Sans';
    src: url('./assets/fonts/GeneralSans-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap; /* Add this for better performance */
}

@font-face {
    font-family: 'General Sans';
    src: url('./assets/fonts/GeneralSans-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap; /* Add this for better performance */
}

@font-face {
    font-family: 'General Sans';
    src: url('./assets/fonts/GeneralSans-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap; /* Add this for better performance */
}

@font-face {
    font-family: 'General Sans';
    src: url('./assets/fonts/GeneralSans-SemiboldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap; /* Add this for better performance */
}

@font-face {
    font-family: 'General Sans';
    src: url('./assets/fonts/GeneralSans-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap; /* Add this for better performance */
}

@theme {
    --font-sans: 'General Sans', sans-serif;
}


/* Add it globally */
body {
    font-family: var(--font-sans);
}